/* footer */

.page-footer {
  height: 70px;
  background-color: rgb(66, 66, 66);
  bottom: 0;
  position: fixed;
  width: 100%;
}

/* content */

.contentCont {
  margin-top: 50px;
  padding-bottom: 100px;
}

#copyright {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.col.s12.s4 {
  position: absolute;
  left: 0px;
  top: 0px;
}

.body {
  height: 100vh;
}

.card {
  background-color: black;
  font-family: 'Odibee Sans', cursive;
  border: 1px solid #eee;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.card-content {
  color: white;
  height: 100px;
}

.card-action {
  height: 70px;
}

.card-image {
  height: auto;
  width: 100%;
}

/* nav bar */
.hidden {
  display: none;
} 

#website {
  font-family: 'Rock Salt', cursive;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding-top: 0;
  padding-bottom: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#nav-mobile {
  background-color: black;
  opacity: 70%;
}

.nav-wrapper {
  background-color: rgb(66, 66, 66);
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  align-items: center;
}

.search input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 2px;
  margin-right: 16px;
  font-size: 17px;
}

.search {
  float: right;
  margin: 7px;
  position: initial;
  align-content: center;
}

.nav-wrapper .input-field input[type=search] {
  height: initial;
  padding-left: 4rem;
  width: calc(100% - 4rem);
  background: transparent;
}

html, body {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at center, rgb(0, 0, 0) 0%, rgb(10, 145, 199) 35%, #630622 100%);
  /* overflow: hidden; */
}